#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
}

.key {
  /* size determined in component Key.tsx */
  border: 1px solid #000;
}

.key-active {
  background: aquamarine;
}
