:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #fff;
  --primary: #000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background);
  color: var(--primary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.keyboard-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.key {
  /* size determined in component Key.tsx */
  height: calc(100% - 8px);
  border: 2px solid var(--primary);
  margin: 2px;
  border-radius: 14px;
  z-index: 2;
}

.key-active {
  z-index: 2;
  background: var(--primary);
  color: var(--background);
  transform: scale(1.1);

  transition: transform 0.2s linear;
}

.polyglow-container {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.polyglow.fade {
  animation: fadeOut 1.8s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}
